<!-- <h1>Login</h1>
<h2>{{ error }}</h2>
<form method="POST">
  {% csrf_token %}
{{ form.as_p }}
<button type="submit">Log in</button>
<a href="{% url 'signupuser' %}">Create Account</a>
</form> -->
<style>

input[type=password] {

background-color: #f6f6f6;

border: none;

color: #0d0d0d;

padding: 15px 32px;

text-align: center;

text-decoration: none;

display: inline-block;

font-size: 16px;

margin: 5px;

width: 85%;

border: 2px solid #f6f6f6;

-webkit-transition: all 0.5s ease-in-out;

-moz-transition: all 0.5s ease-in-out;

-ms-transition: all 0.5s ease-in-out;

-o-transition: all 0.5s ease-in-out;

transition: all 0.5s ease-in-out;

-webkit-border-radius: 5px 5px 5px 5px;

border-radius: 5px 5px 5px 5px;

}

input[type=password]:focus {

background-color: #fff;

border-bottom: 2px solid #5fbae9;

}

input[type=password]:placeholder {

color: #cccccc;

}

</style>
{% load static %}
<link rel="stylesheet"  href="{%  static  'css/login-css/style.css'  %}">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="text-primary !important">Login</h2>
    <p class="text-danger">{{ error }}</p>
    
    
    <!-- Login Form -->
    <form method="POST">
    {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Enter your Username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter password">
      <br>
      <input type="submit" class="fadeIn fourth" value="Log In"></input>
    </form>

    <!--  
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'signupuser' %}">Create Account</a>
    </div>
     -->

  </div>
</div>
