{% extends 'base.html' %}
{%load crispy_forms_tags %}
{% load static%}
{% block content %}
<div class="container mt-5 mb-5">
    <h3>Add New Blog</h3>
    <form action="" method="POST" autocomplete="off" enctype="multipart/form-data" >
        {% csrf_token %}
        {{form.title|as_crispy_field}}
        {{form.image_file|as_crispy_field}}
        {{form.author|as_crispy_field}}
        {{form.description|as_crispy_field}}
        {{form.is_popular|as_crispy_field}}
        {{form.category|as_crispy_field}}
        
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg"> <i class="fas fa-database"></i>Submit</button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'list_blog' %}" class = "btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Back To List
                </a>
            </div>

        </div>
        
    </form>
</div>
{% endblock %}